<td class="first">{{ id }}</td>
<td>{{ word }}</td>

<td class="actions">
  <div class="btn-group">
    <button class="js-removeItem tooltiped btn btn-default"
            data-toggle="tooltip"
            data-placement="top"
            title="Remove">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</td>