<div id="searchRegion" class="filters full-height">
  <!-- SEARCH SECTION -->
</div>
<div id="resultsRegion" class="results full-height">
  <!-- RESULTS SECTION -->
</div>
<div id="addWordRegion" class="pagination">
  <!-- PAGINATION SECTION -->
</div>
