<div class="modal-content preview">
  <div class="modal-body">
    <section>
      <div class="product-thumbnail large" id="imageContent">
      </div>
    </section>
  </div>
</div><!-- /.modal-content -->