<h4><strong>Message</strong></h4>
<div class="form-group">
	<p class="text-left">Content</p>
	<textarea class="form-control" id="notificationMessage" placeholder="Enter push notification message"></textarea>
	<div id="textarea_feedback" class="chars-left">100</div>
	<div class="checkbox">
		<input id="onlyPush" type="checkbox" />
    	<label for="onlyPush">Send also as Feed Notification</label>
	  </div>
</div>
