<div class="page-header">
    <h3 class="title">Send Notifications</h3>
</div>
<div id="resultsRegion" class="full-height">
	<div class="row  notification">
        <div class="blackout-80"></div>
		<div id="leftRegion" class="col-md-4">
		</div>

	    <div id="centerRegion" class="col-md-4 center-region control-group">
	    </div>

	    <div id="rightRegion" class="col-md-4">
	    </div>
	</div>
</div>
