<form class="form-inline col-sm-8 " role="form">
  <div class="form-group col-sm-12" style="line-height:28px;">
    <label class="col-sm-3 control-label">
      Write a new word
    </label>
    <div class="col-sm-4">
      <input type="text"
        class="form-control"
        id="addWord"
        name="addWord"
        placeholder="">
    </div>
    <button class="js-addWord col-sm-3 btn btn-success">Add Word</button>
  </div>
</form>