<div id="modModeEmpty" class="mod-mode-empty">
    <h3>Specify records to moderate</h3>
    <br>
    <p>
        Enter a filter above to target specific records or leave all fields empty to moderate items from all available records, then hit <b>Apply</b>. Unmoderated records will appear in queue.
    </p>
</div>
<div class="horizontal-flex flex-stretch stretch">
    <div id="itemRegion" class="item-region white-background"></div>
    <div id="userItemsList" class="item-list-region white-background">
        <div class="item-header border-bottom">
            <h5><b id="totalOfItems"></b> additional publications from this user</h5>
        </div>
        <div id="itemListRegion">

        </div>
    </div>
</div>
