<div class="moderation-mode">
    <div id="modModeFiltersRegion" class="mod-mode-filters-region white-background">
    </div>
    <div id="modModeResultsRegion" class="mod-mode-results-region">
    </div>
</div>
